<section class="row">
  <h2>Survey</h2>
</section>
<section>
<%= if @demographic do %>
  <DemographicLive.Show.details demographic={@demographic} />
<% else %>
  <.live_component module={Form}
    id="demographic-form"
    current_user={@current_user} />
<% end %>
</section>